<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="login-form bg-light mt-4 p-4">
      <h4 class="text-center mx-auto">Editing Tweet</h4>
      <%= render 'tweets/shared/form', tweet: @tweet %>
      <hr class="mt-4">
      <div class="col-12">
        <p class="text-center">
          <%# <%= link_to 'Show', @tweet | %>
          <%= link_to 'Back', tweets_path %>
        </p>
      </div>
    </div>
  </div>
</div>
