<% flash.each do |key, value| %>
  <div class="alert alert-success alert-dismissible fade show mt-2">
    <%= value %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<div class="mt-2">
  <% @tweets.reverse.each do |tweet| %>
    <%= render partial: 'tweets/shared/tweet', locals: { tweet: tweet } %>
  <% end %>
</div>
