<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="login-form bg-light mt-4 p-4">
      <h4 class="text-center mx-auto">Registrations are disabled!</h4>
      <hr class="mt-4">
      <div class="col-12">
        <p class="text-center">
          <%= render "users/shared/links" %>
        </p>
      </div>
    </div>
  </div>
</div>
